@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

:root {

    /* Vari치veis de cor */
    --destaque-escuro: #264653ff;
    --destaque: #2a9d8fff;
    --cor-terciaria: #e9c46aff;
    --cor-secundaria: #f4a261ff;
    --cor-principal: #e76f51ff;
    --preto: #172026;
    --branco: #F2F2F2;
    /* Vari치veis de cor */

    /* Vari치veis de fonte */
    --fonte-principal: "Montserrat", sans-serif;
    --fonte-chamativa: "Pompiere", sans-serif;
    --fonte-gigante: 100px;
    --fonte-media: 50px;
    /* Vari치veis de fonte */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: var(--cor-terciaria);
}

.banner {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
    background-color: var(--cor-secundaria);
}

.banner img {
    display: grid;
    grid-column: 2 / 6;
    grid-row: 1 / 5;
}

.banner .texto-foco {
    grid-column: 8/3;
    grid-row: 2/5;
    text-align: center;
    font-family: var(--fonte-chamativa);
    font-size: var(--fonte-gigante);
}

.banner .texto-secundario {
    grid-column: 8/3;
    grid-row: 4/6;
    text-align: center;
    font-size: var(--fonte-media);
}

#card-container {
    display: flex;
    justify-content: space-around;
    color: var(--cor-secundaria);

}

.carde {
    width: 420px;
    display: flex;
    background-color: var(--cor-principal);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-radius: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

.carde:hover {
    box-shadow: var(--preto) 3px 3px;
}

.carde img {
    width: 350px;
    height: 250px;
    border-radius: 12px;
}

.carde button {
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.barra-navegacao{
    background-color: var(--cor-principal) !important;
}


@media screen and (max-width: 430px) {
    header{
        background-color: var(--cor-principal);
    }

    .banner {
        display: flex;
        flex-direction: column;
        width: 430px;
    }

    .container {
        flex-direction: column;
    }

    .carde:hover {
        box-shadow: var(--preto) 0px 0px;
    }
    .barra-navegacao{
        background-color: var(--cor-principal) !important;
    }
}