@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#card-container{
    display: flex;
    justify-content: space-around;
    background-color: #C5E0D8;

}

.card {
    width: 420px;
    display:flex;
    background-color: #B5FFE9;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-radius: 12px;
     font-family: "Montserrat", sans-serif;
     font-size: 25px;
}

.card img{
    width: 400px;
    height: 300px;
}

.card button{
    
    width: 50%;
    padding: 5px;
    border-radius: 12px;
    font-family: "Montserrat", sans-serif;
}
.titulo{
    display: flex;
    justify-content: center;
    font-size: 40px;
}